<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-6">
      <img src="img/projects/entrekids.png" class="img-fluid"/>
    </div>
    <div class="col-12 col-lg-6">
      <img src="img/projects/proveedoresauranet.png" class="img-fluid"/>
    </div>
    <div class="col-12 col-lg-6">
      <img src="img/projects/seleccionacolor.png" class="img-fluid"/>
    </div>
    <div class="col-12 col-lg-6">
      <img src="img/projects/handbrakecalculator.png" class="img-fluid"/>
    </div>
  </div>
</div>
